@font-face {
  font-family: "ZVV Brown Narrow";
  src: url("../fonts/ZVVBrownNarrow-Regular.woff2") format("woff2"),
       url("../fonts/ZVVBrownNarrow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZVV Brown Narrow";
  src: url("../fonts/ZVVBrownNarrow-Bold.woff2") format("woff2"),
       url("../fonts/ZVVBrownNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Entfernung aller anderen Font-Definitionen, da nur ZVV Brown Narrow relevant ist */ 